.product_container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  width: 80%;
  margin: auto;
  gap: 5%;
  
  
}
.result_heading{
  margin: 1rem auto 1rem 2rem;
}
.result_sub{
  margin:0 0 2rem 2rem;
}
hr{
  margin-bottom: 4rem;
}