

.category_box{
  background-color: #fff;
  box-shadow: 0 0 10px #00000045;
    text-decoration: none;
  width: 21%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2rem 2rem 3rem 2rem;
  gap: 1rem;
  }
  .category_img_box{
    width: 100%;
   }
  .category_img{
    width: 100%;
  }
  .category_name{
    font-size: 1.8rem;
    text-transform: capitalize;
    align-self: flex-start;
  }
  .category_btn{
    text-decoration: none;
    align-self: flex-start;
   color: #4242ffd0;
  }
  .category_btn:hover{
    cursor: pointer;
    color: #ff5c5c7e;
    font-size: 1.6rem;
  }

  
